// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Style Cookie Consent -> welcome.blade 
.js-cookie-consent{
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    text-align: center;
    width: 100%;
    z-index: 100;
    background-color: #e5effc;
    border-color: darkblue;
    border: solid 1px;
}

.js-cookie-consent-agree {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:'Nunito', sans-serif;
    font-size:12px;
    font-weight:bold;
    padding:2px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.js-cookie-consent-agree:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.js-cookie-consent-agree:active {
    position:relative;
    top:1px;
}
    
            
// Quote of the Day Style

.quote-body{
    height: 301px;
}